.main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.wordcloudSection {
  background: #000;
  padding: 60px 32px;
}

.wordcloudInner {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 1024px) {
  .wordcloudSection {
    padding: 40px 20px;
  }
}
